<!-- component -->
<body class="font-mono bg-gray-400">
  <!-- Container -->
  <div class="container mx-auto">
    <div class="flex justify-center px-6 my-12">
      <!-- Row -->
      <div class="w-full xl:w-3/4 lg:w-11/12 flex">
        <!-- Col -->
        <div class="w-full h-auto bg-gray-400 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg" style="background-image: url('{{ block.settings.image | image_url: width: 2048 }}')"></div>
        <!-- Col -->
        <div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none">
          <h3 class="pt-4 text-2xl text-center">Contact
          </h3>

          <div class="px-8 pt-6 pb-8 mb-4 bg-white rounded">
            {% form 'contact' %}
              {% if form.posted_successfully? %}
              <div class="flex bg-green-100 rounded-lg p-4 mb-4 text-sm text-green-700" role="alert">
                <svg class="w-5 h-5 inline mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                <div>
                    <span class="font-medium">{{section.settings.smessage}}</span>
                </div>
            </div>
              {% endif %}
              {{ form.errors | default_errors }}
              <div class="mb-4 md:flex md:justify-between">
                <div class="mb-4 md:mr-2 md:mb-0">
                  <label class="block mb-2 text-sm font-bold text-gray-700" for="Full Name">
                    Full Name
                  </label>
                  <input
                    class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                    id="firstName"
                    type="text"
                    id="ContactFormName"
                    name="contact[name]"
                    placeholder="First Name" />
                </div>
                <div class="md:ml-2">
                  <label class="block mb-2 text-sm font-bold text-gray-700" for="Phone">
                    Phone
                  </label>
                  <input
                    class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                    id="lastName"
                    type="text"
                    id="ContactFormPhone"
                    name="contact[phone]"
                    placeholder="Phone" />
                </div>
              </div>
              <div class="mb-4">
                <label class="block mb-2 text-sm font-bold text-gray-700" for="email">
                  Email
                </label>
                <input
                  class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                  id="email"
                  type="email"
                  id="ContactFormEmail"
                  name="contact[email]"
                  placeholder="Email" />
              </div>
              <div class="mb-4">
                <label class="block mb-2 text-sm font-bold text-gray-700" for="email">
                  Message
                </label>
                <textarea
                  rows="10"
                  id="ContactFormMessage"
                  class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                  name="contact[body]"></textarea>

              </div>
              <div class="mb-6 md:flex md:justify-between"></div>
              <div class="mb-6 text-center">
                <button class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline" type="submit">
                  Send Message
                </button>
              </div>
              <hr class="mb-6 border-t" />
            {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% schema %}
    {
      "name": "Contact Page",
      "settings": [
        {
          "type": "text",
          "id": "smessage",
          "label": "Success Message",
          "default": "Success alert! Change a few things up and try submitting again"
        }
  
      ],
      "blocks": [
        {
          "name": "Slide",
          "type": "slide",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            }
          ]
        }
      ]
  
    }
  {% endschema %}